@import url(fonts.css);

:root {
    --spacing: 12px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: snow;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    overflow: hidden;
}


/************** CIBLE **************/
#button {
    top: 5px;
    right: 5px;
    position: fixed;
    z-index: 999;
    height: 20px;
    width: 20px;

    border-radius: 100px;
    transition: all .5s ease-in-out;

}

#button:hover {
    background-color: black;

}

marquee {
    color: white;
    background-color: black;
    margin: 0;
    font-style: italic;
    position: fixed;
    z-index: 1;
    font-size: 2rem;
    text-transform: full-width;
    font-family: 'unnamedregular';

    display: none;
}

#marqueeTop {
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 4;
}

#marqueeRight {
    right: -50vh;
    top: 50vh;
    width: 100vh;
    transform-origin: top;
    transform: rotate(90deg);
    z-index: 1;
}

#marqueeBottom {
    bottom: 0;
    left: 0;
    width: 100vw;
    transform: rotate(180deg);
    z-index: 2;
}

#marqueeLeft {
    left: -50vh;
    top: 50vh;
    width: 100vh;
    transform-origin: top;
    transform: rotate(-90deg);
    z-index: 1;
}


#cibleScreen {
    height: 100svh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-transition: backgroundColor 0s linear;
    -o-transition: backgroundColor 0s linear;
    transition: backgroundColor 0s linear;

    overflow: hidden;
}

.fond {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}


.cibleOpen {
    /* height: 100px !important;
    width: 100vw !important;
    top: var(--spacing) !important; */
    -webkit-transition: all .5s ease-in-out !important;
    -o-transition: all .5s ease-in-out !important;
    transition: all .5s ease-in-out !important;

    transform: translateY(-85%);
    height: fit-content !important;
}

.cibleOpen:hover {
    transition: all .5s ease-in-out !important;
    transform: translateY(-80%);

}

#cible {
    height: 70%;
    max-width: 90vw;
    aspect-ratio: 1;
    background-image: url("../../media/cible.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: height .2s linear;
    -o-transition: height .2s linear;
    transition: height .2s linear;

    z-index: 2;
}

/* #cible:hover {
    filter: invert(1);
} */

.cibleBounce {
    height: 75% !important;
    -webkit-transition: height .2s linear;
    -o-transition: height .2s linear;
    transition: height .2s linear;
}

#cible img {
    height: 30%;
}


#enter {
    position: absolute;
    left: 50%;
    bottom: calc(var(--spacing)*2);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);

    background-color: black;
    color: white;
    padding: 3px 16px;
    border-radius: 6px;
    border: none;
    font-family: 'unnamedregular';
    font-size: 2rem;

}

#enter:hover {
    background-color: white;
    color: black;
    cursor: not-allowed;
}



/************** CONTAINER **************/
#container {
    height: 100svh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*background: rgb(0, 0, 0);*/
    /*background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(111, 154, 255, 1) 0%, rgba(8, 185, 36, 1) 32%, rgba(245, 255, 36, 1) 67%, rgba(255, 55, 55, 1) 85%);*/
}

.column {
    height: 100%;
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);

}

.columnIntro {
    height: 100%;
    width: 100%;
    position: relative;
}

.column>div {
    padding: var(--spacing);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.columnIntro a {
    bottom: var(--spacing);
    position: absolute;
    font-family: 'unnamedregular';
    font-size: 3rem;
    color: white;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

    text-decoration: none;
}

.columnIntro img {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.columnContenu img {
    width: 100%;
    margin-top: 10px;
}

#past {
    background-color: rgb(38, 139, 38);
}

#play {
    background-color: rgb(220, 220, 14);
}

#futur {
    background-color: rgb(237, 33, 33);
}


/* SUMMARY */
details {
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    margin-bottom: var(--spacing);
}

summary {
    list-style-type: '👎';
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

details[open]>summary {
    list-style-type: '👍';
}

details[open] {
    padding: 0.5em;
}

summary h2 {
    display: inline;
    font-size: 1.5rem;
}

@media (max-width: 600px) {
    #container {
        grid-template-columns: 1fr;
    }

    .column {
        height: calc(100svh/3);
    }

    .cibleOpen {
        transform: translateY(-80%);
        height: fit-content !important;
    }

    .columnIntro img {
        width: 60px;
    }

}